<h1 class="current-genre"><%= params[:genre] %></h1>

	<% if @musics.count == 0 %>
		<h1>There are no muisc collection for this Genre!</h1>
	<% else %>
		<% @musics.each  do |music| %>
<!-- show page is in respect with one muisc therefore can't jsut vist show page -->
		<a href="/musics/<%= music.id %>" >
		<%= image_tag music.music_album_img.url(:music_index) %>

		</a>
	<% end %>
<!-- link to tag is eqivalent to anchor tag in rails , second part is equivalent to href-->
<% end %>