<% @musics.each  do |music| %>
<!-- show page is in respect with one muisc therefore can't jsut vist show page -->
<h2><%= link_to music.album, music_path(music) %></h2>
<% end %>
<!-- link to tag is eqivalent to anchor tag in rails , second part is equivalent to href-->
<%= link_to "Add New Album And Track", new_music_path %>