<p><%= review.rating%></p>
<p><%= review.comment%></p>

<% if user_signed_in? %>

	<% if review.user_id == current_user.id %>

		<%= link_to "Edit", edit_music_review_path(review.music, review) %>
		<%= link_to "Delete", music_review_path(review.music, review), method: :delete, 
			data: { confirm: "Are you sure you want to delete the review?" } %>

	<% end %>

<% end %>
